loader {
    .sk-cube-grid {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sk-cube-grid .sk-cube {
        width: 36px;
        height: 36px;
        margin: 2px;
        background-color: #333;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.5s infinite ease-in-out;
                animation: sk-cubeGridScaleDelay 1.5s infinite ease-in-out; 
      }
      .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s; }
      .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s; }
      .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      .sk-cube-grid .sk-cube10 {
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
      }
      .sk-cube-grid .sk-cube11 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      .sk-cube-grid .sk-cube12 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
      .sk-cube-grid .sk-cube13 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      .sk-cube-grid .sk-cube14 {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
      }
      .sk-cube-grid .sk-cube15 {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      .sk-cube-grid .sk-cube16 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube17 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube18 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube19 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube20 {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .sk-cube-grid .sk-cube21 {
        -webkit-animation-delay: 0.0s;
                animation-delay: 0.0s; }
      .sk-cube-grid .sk-cube22 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
      }
      .sk-cube-grid .sk-cube23 {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube24 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube25 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
      }
      .sk-cube-grid .sk-cube23 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }

      @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1); 
        }
      }
      
      @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1);
        } 
      }
      .sk-cube-grid .sk-cube:nth-child(odd) {
        background-color: #488aff;
      }
      .sk-cube-grid .sk-cube:nth-child(even) {
        background-color: #004bcc;
      }
}
