page-receipts {
    .receipt-value {
        text-align: right;
        float: right;
    }
    .text,
    .icon {
        display: inline-block;
    }
    .icon {
       margin-left: 10px;
       cursor: pointer;
    }
}
