<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista paragonów</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <button ion-button block color="primaryDark" [navPush]="newReceiptPage">Dodaj paragon</button>

  <ion-card class="box" *ngFor="let receipt of receiptsList | async; let i = index">
    <ion-card-header>
      <h1 *ngIf="!testt" class="text">{{ receipt.name }}</h1>
      <ion-input *ngIf="testt" class="input-field" type="text" name="name" [(ngModel)]="receipt.name" ngModel required></ion-input>
      <ion-icon class="icon" name="settings" (click)="edit(receipt)"></ion-icon> 
    </ion-card-header>
    <ion-card-content>
      <ion-icon class="receipt-value icon" name="settings"></ion-icon>   
      <h1 class="receipt-value text">{{ expensesService.valueFixed(receipt.value) }} zł</h1>
      <p class="text">{{ receipt.description }}</p>
      <ion-icon class="icon" name="settings"></ion-icon> 
      <p>{{ showTime(receipt.date) }}</p>

      <button ion-button block small color="primary" (click)="showImage(receipt.$key)" *ngIf="!receipt.showImage">Pokaż zdjęcie paragonu</button>

      <button ion-button block small color="primary" (click)="hideImage(receipt.$key)" *ngIf="receipt.showImage">Ukryj zdjęcie paragonu</button>

      <img [src]="receipt.image" *ngIf="receipt.showImage" />
      <ion-row>
        <ion-col text-right>
          <button ion-button outline small color="primary" (click)="editReceipt(receipt.$key)">Edytuj</button>
        </ion-col>
        <ion-col text-left>
          <button ion-button outline small color="danger" (click)="deleteReceipt(receipt.$key)">Usuń</button>
        </ion-col>
      </ion-row>
    </ion-card-content>


    <!-- <form *ngIf="edit" #receipt="ngForm" (ngSubmit)="editReceiptItem()">
       <ion-item>
        <ion-label floating>Nazwa</ion-label>
        <ion-input class="input-field" type="text" name="name" [(ngModel)]="receipt.name" ngModel required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Opis</ion-label>
        <ion-input class="input-field" type="text" name="description" [(ngModel)]="receipt.description" ngModel required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Cena</ion-label>
        <ion-input class="input-field" type="text" name="value" [(ngModel)]="receipt.value" ngModel required></ion-input>
      </ion-item> -->
  <!--
      <button ion-button block (click)="takePicture()">Zrób nowe zdjęcie paragonu</button>
  
      <div padding>
        <button ion-button block [disabled]="!receipt.valid && !imageTaken" type="submit">Zapisz</button>
      </div> -->
    <!-- </form> -->


  </ion-card>
</ion-content>