<ion-header>

  <ion-navbar>
    <ion-title>
      <span class="month">{{ selectedMonth }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="!noData" padding>

  <ion-card class="box">
    <ion-card-header>
      <h2 class="money-header">Wydane pieniadze w miesiacu:</h2>
      <h2 class="money-header all-money">{{ expensesService.valueFixed(allMonthlyMoneySpent) }} zł</h2>
    </ion-card-header>
  </ion-card>

  <ion-card class="box">
    <ion-card-header>
      <h2 class="money-header">Wydane pieniadze na:</h2>
    </ion-card-header>

    <ion-item *ngFor="let category of expensesService.categoriesData; let i = index">
        <h3 class="money-header category-name">{{ category.name }}:</h3>
        <h3 class="money-header all-money"> {{ expensesService.valueFixed(category.allMonthlyMoneySpent) }} zł</h3>
      </ion-item>
  </ion-card>

  <!-- <canvas [ngClass]="{'chart': chartOpen}" id="myChart" width="0" height="0"></canvas> -->
  <div id="chartdiv"></div>


</ion-content>

<ion-content *ngIf="noData" padding>
  <ion-card class="box">
    <ion-card-header>
      <h2 class="money-header">Brak danych z tego miesiąca</h2>
    </ion-card-header>
  </ion-card>
</ion-content>