<ion-header>
      <ion-navbar>
        <ion-title>
          <span class="month">{{ selectedMonth }}</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="onShowOptions($event)">
                <ion-icon name="more"></ion-icon>
              </button>
          </ion-buttons>
      </ion-navbar>
    </ion-header>


<ion-content padding>
  <ion-grid>
      <ion-card class="box">
        <ion-card-header class="header-box">
          <h2 class="money-header big-text">Wydane pieniadze:</h2>
          <h2 class="money-header big-text all-money">{{ expensesService.valueFixed(allMonthlyMoneySpent) }} zł</h2>
        </ion-card-header>
      </ion-card>

      <div *ngIf="!noData">
        <ion-card class="box">
          <ion-card-header>
            <h2 class="money-header">Wydane pieniadze na:</h2>
          </ion-card-header>

          <ion-item class="row" *ngFor="let category of localCategoriesData; let i = index">
            <button ion-item [navPush]="statisticByCategoryPage" [navParams]="[selectedMonth, category.name, selectedYear]">
              <h3 class="money-header category-name">{{ category.name }}:</h3>
              <h3 class="money-header all-money"> {{ expensesService.valueFixed(category.allMonthlyMoneySpent) }} zł</h3>
          </button>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item class="row">
            <button ion-item [navPush]="statisticByCategoryPage" [navParams]="[selectedMonth, bonus, selectedYear]">
              <h3 class="money-header category-name-bonus">Bonusy:</h3>
              <h3 class="money-header all-money-bonus"> {{ expensesService.valueFixed(bonuses) }} zł</h3>
            </button>
          </ion-item>
        </ion-card>
        <div id="chartdiv"></div>
      </div>

      <div *ngIf="noData">
        <ion-card class="box">
          <ion-card-header>
            <h2 class="money-header">Brak danych z tego miesiąca</h2>
          </ion-card-header>
        </ion-card>
      </div>
  </ion-grid>
</ion-content>