<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wydatki i bonusy</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="onShowOptions($event)">
            <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
      <h3 *ngIf="!noData" text-center>Wybierz rok</h3>
      <ion-list *ngIf="!noData">
        <button ion-item *ngFor="let years of expenseListOfYears | async; let i = index" [navPush]="monthsPage" [navParams]="years">
              <ion-icon name="calendar" item-left></ion-icon>
              <h3 class="years">{{ years.$key }}</h3>
            </button>
      </ion-list>
      <ion-list *ngIf="noData">
        <ion-card class="box">
          <ion-card-header>
            <h2 class="money-header">Brak danych</h2>
          </ion-card-header>
        </ion-card>
      </ion-list>
  </ion-grid>
</ion-content>