<ion-header>
    <ion-navbar color="primary">
      <ion-title>Kategorie</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-grid>
  <loader *ngIf="showSpinner"></loader>

  <div *ngIf="!showSpinner">
    <form #category="ngForm" (ngSubmit)="addCategory()">
      <ion-item>
        <ion-label floating>Nazwa</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="newCategoryName" ngModel required></ion-input>
      </ion-item>
      <div class="color-container">
        <label>Kolor</label>
        <input class="color-picker-input" [(colorPicker)]="color" [style.background]="color" [cpPosition]="'bottom'" [cpOutputFormat]="'hex'" [cpOKButtonClass]="'color-picker-button'" [cpOKButton]="true" [cpOKButtonText]="'OK'"
          required/>
      </div>

      <div padding>
        <button ion-button block [disabled]="!category.valid" type="submit">Dodaj</button>
      </div>
    </form>

    <ion-list>
      <ion-item ion-item *ngFor="let category of categoriesItemsList | async">
        <ion-icon name="albums" [style.color]="category.color" item-start></ion-icon>
        <h2 class="category-name">{{ category.name }}</h2>
        <ion-icon *ngIf="category.removable" name="trash" color="danger" item-end (click)="deleteCategory(category.$key)"></ion-icon>
        <ion-icon *ngIf="category.removable" name="settings" color="primary" item-end [navPush]="editCategoryPage" [navParams]="category"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-grid>
</ion-content>