<ion-header>
  <ion-navbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="onShowOptions($event)">
            <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-list *ngIf="!noData">
        <ion-item *ngFor="let item of data; let i = index">
          <ion-row>
            <ion-col>
              <h2 *ngIf="expenseView" text-left>{{ item.expenseName }}</h2>
              <h2 *ngIf="!expenseView" text-left>{{ item.bonusName }}</h2>
            </ion-col>
            <ion-col>
              <h2 *ngIf="expenseView" class="price" text-right>{{ item.expenseValue }} zł</h2>
              <h2 *ngIf="!expenseView" class="bonus" text-right>{{ item.bonusValue }} zł</h2>              
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <p *ngIf="expenseView" class="description" text-left text-wrap>{{ item.expenseDescription }}</p>
              <p *ngIf="!expenseView" class="description" text-left text-wrap>{{ item.bonusDescription }}</p>
            </ion-col>
            <ion-col col-4>
              <p *ngIf="expenseView" class="date" text-right>{{ showTime(item.expenseDate) }}</p>
              <p *ngIf="!expenseView" class="date" text-right>{{ showTime(item.bonusDate) }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <div *ngIf="noData">
        <ion-card class="box">
          <ion-card-header>
            <h2>Brak danych</h2>
          </ion-card-header>
        </ion-card>
      </div>
  </ion-grid>
</ion-content>