<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wydatki dzienne</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <loader *ngIf="showSpinner"></loader>

  <div *ngIf="!showSpinner">
    <ion-card class="box">
      <ion-card-header>
        <h1 text-wrap class="money-header">Dzienne wydatki:</h1>
        <h1 text-wrap class="money-header all-money">{{ expensesService.valueFixed(allMoneySpent) }} zł</h1>
      </ion-card-header>
    </ion-card>

    <div *ngIf="!noData">
      <ion-card class="box" *ngFor="let expense of expenseListOfDay | async; let i = index">
        <ion-card-header>
          <h1 text-wrap>{{ i + 1 }}) {{ expense.expenseName }}</h1>
        </ion-card-header>
        <ion-card-content>
          <h1 class="money">{{ expensesService.valueFixed(expense.expenseValue) }} zł</h1>
          <p>{{ expense.expenseDescription }}</p>
          <p>{{ expense.expenseDate }}</p>
        </ion-card-content>
        <ion-row>
          <ion-col text-right>
            <button ion-button outline small color="primary" (click)="editExpense(expense.$key, expense.expenseName, expense.expenseDescription, expense.expenseValue, expense.expenseCategory)">Edytuj</button>
          </ion-col>
          <ion-col text-left>
            <button ion-button outline small color="danger" (click)="deleteExpense(expense.$key)">Usuń</button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button *ngIf="sortDateDown" class="box" ion-button icon-end small color="primary" (click)="dateAscending()">
                  Sortuj (data)
                  <ion-icon name="arrow-down"></ion-icon>
                </button>
            <button *ngIf="!sortDateDown" class="box" ion-button icon-end small color="primary" (click)="dateDescending()">
                  Sortuj (data)
                  <ion-icon name="arrow-up"></ion-icon>
                </button>
          </ion-col>
          <ion-col col-6>
            <button *ngIf="sortPriceDown" class="box" ion-button icon-end small color="primary" (click)="priceAscending()">
                  Sortuj (cena)
                  <ion-icon name="arrow-up"></ion-icon>
                </button>
            <button *ngIf="!sortPriceDown" class="box" ion-button icon-end small color="primary" (click)="priceDescending()">
                  Sortuj (cena)
                  <ion-icon name="arrow-down"></ion-icon>
                </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button class="box" ion-button block icon-end color="primary" (click)="filter()">
                  Filtruj
                  <ion-icon name="settings"></ion-icon>
                </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="noData">
      <ion-card class="box">
        <ion-card-header>
          <h2 class="money-header">Brak danych</h2>
        </ion-card-header>
      </ion-card>
    </div>

  </div>

</ion-content>