page-days {
    .list-item {
        display: inline;
    }
    .spent {
        float: right;
        color: red;
        h2 {
            display: inline;
        }
    }
    .bonus {
        float: right;
        color: #488aff;
        h2 {
            display: inline;
        }
    }
    .box {
        margin: 7px;
        width: calc(100% - 14px);
    }
    .money-header {
        display: inline-block;
    }
    .all-money {
        color: red;
        float: right;
    }
    .all-bonuses {
        color: #488aff;
        float: right;
    }
}
