<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista dni miesiąca</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <!-- <loader *ngIf="showSpinner"></loader> -->

    <div [ngSwitch]="viewType">
      <div *ngSwitchCase="'expenses'">
        <div *ngIf="!noExpenseData">
          <h3 text-center>Wybierz dzień</h3>
          <ion-card class="box">
            <ion-card-header>
              <h2 class="money-header">Miesięczne wydatki:</h2>
              <h2 class="money-header all-money">{{ expensesService.valueFixed(allMonthlyMoneySpent) }} zł</h2>
            </ion-card-header>
          </ion-card>
          <ion-list>
            <button ion-item *ngFor="let day of expenseListOfDays | async" [navPush]="dayPage" [navParams]="[day, viewType]">
                        <ion-icon name="calendar" item-left></ion-icon>
                        <h2 class="list-item">{{ day.$key }}.{{ monthNumber(expensesService.selectedMonthNumber) }}</h2>
                        <span class="list-item spent">
                          <h2>{{ expensesService.valueFixed(dayWithExpenses[day.$key]) }} zł</h2>
                        </span>
                      </button>
          </ion-list>
        </div>
        <div *ngIf="noExpenseData">
          <ion-list>
            <ion-card class="box">
              <ion-card-header>
                <h2 class="money-header">Brak danych</h2>
              </ion-card-header>
            </ion-card>
          </ion-list>
        </div>
      </div>

      <div *ngSwitchCase="'bonuses'">
        <div *ngIf="!noBonusData">
          <h3 text-center>Wybierz dzień</h3>

          <ion-card class="box">
            <ion-card-header>
              <h2 class="money-header">Miesięczne bonusy:</h2>
              <h2 class="money-header all-bonuses">{{ expensesService.valueFixed(allMonthlyBonuses) }} zł</h2>
            </ion-card-header>
          </ion-card>
          <ion-list>
            <button ion-item *ngFor="let day of bonuseListOfDays | async" [navPush]="dayPage" [navParams]="[day, viewType]">
                            <ion-icon name="calendar" item-left></ion-icon>
                            <h2 class="list-item">{{ day.$key }}.{{ monthNumber(expensesService.selectedMonthNumber) }}</h2>
                            <span class="list-item bonus">
                              <h2>{{ expensesService.valueFixed(dayWithBonuses[day.$key]) }} zł</h2>
                            </span>
                          </button>
          </ion-list>
        </div>
        <div *ngIf="noBonusData">
          <ion-list>
            <ion-card class="box">
              <ion-card-header>
                <h2 class="money-header">Brak danych</h2>
              </ion-card-header>
            </ion-card>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>